$color-principal: #2E303F;
$color-secundario:#63948C;
$color-tercero: #C24332;
$color-cuarto:#EBE6D1;
*,*::after,*::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	font-family: 'Cairo', sans-serif;
	background-color: $color-principal;
}
.sub-titulo{
	font-size: 1.6rem;
	width: 24rem;
	color: $color-cuarto;
	text-transform: uppercase;
	font-weight: 300;
	margin: 20px 0px 0px 10%;
}
header{
	width: 100%;
	height: 115px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	img{
		width: 12rem;
	}
	h1{
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		color: $color-cuarto;
	}
}
.figuras{
	width: 100%;
	padding: 20px 0px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 80%));
	justify-content: center;
	gap: 3rem;
	.figuras-card{
		border-radius: 14px;
		padding: 20px 0px;
		background: linear-gradient(225deg, #2E303F, #3C468B);
		box-shadow: 2px 2px 14px #00000063;
		height: 50rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		img{
			width: 20rem;
		}
		.isosceles{
			width: 16rem;
		}
		.otras-figuras{
			width: 12rem;
		}
		label{
			align-self: flex-start;
			font-size: 1.4rem;
			color: #fff;
			margin-left: 10%;
		}
		.container-inputs{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 10px;
			input{
				width: 5rem;
				height: 3rem;
				background: #4D4F65;
				border: none;
				border-radius: 4px;
				font-size: 1.2rem;
				padding: 0px 4px;
				color: #fff;
			}
			input::placeholder{
				color: #fff;
			}
			.input-one{
				display: block;
				width: 60%;
				margin: auto;
				height: 30px;
			}
		}
		.figuras-card__resultado{
			width: 80%;
			height: 90px;
			overflow-y: auto;
			overflow-wrap: anywhere;
			background: #4d4f65;
			border-radius: 12px;
			padding: 10px 0px;
			display: grid;
			place-items: center;
			span{
				font-weight: 900;
				color: $color-secundario;
			}
			p{
				width: 90%;
				color: $color-cuarto;
				font-size: 1.3rem;
				font-weight: 700px;
				text-transform: uppercase;
			}
		}
	}
}
h3{
	font-weight: 400;
	color: #fff;
	font-size: 1.6rem;
}

.seccion-descuento{
	width: 100%;
	height: auto;
	padding: 20px 0px;
	form{
		width: 90%;
		max-width: 40rem;
		margin: auto;
		height: 32rem;
		background: linear-gradient(235deg, #63948C, #4CA798 );
		border-radius: 20px;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		img{
			position: absolute;
			right: 0;
			width: 7rem;
			top: 0;
		}
		.descuento-etiqueta-p{
			position: absolute;
			top: 30px;
			right: 8px;
			font-size: 2rem;
			font-weight: 900;
			color: #4d4f65;
			transform: rotate(60deg);
		}
		.container-precio{
			label{
				display: block;
				font-size: 1.7rem;
				font-weight: 300;
				color: #fff;
			}
			input{
				width: 200px;
				height: 2.6rem;
				border: none;
				background: #4d4f65;
				margin: 12px 0px;
				color: #fff;
				padding: 0px 10px;
			}
			input::placeholder{
				color: #fff;
				padding: 0px 10px;
			}
		}
		.container-descuento{
			@extend .container-precio;
		}
		.contenedor-resultado-descuento{
			width: 20rem;
			height: 8rem;
			background: #4d4f65;
			padding: 0px 14px;
			p{
				font-size: 1.4rem;
				color: $color-cuarto;
				font-weight: 300;
			}
			span{
				color: $color-cuarto;
				font-size: 1.5rem;
				font-weight: 900;
			}
		}
	}
}

/* media queries */

@media (min-width: 600px){
	html{
		font-size: 64%;
	}
	.figuras {
		width: 90%;
		max-width: 1200px;
		margin: auto;
		height: auto;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		.container-inputs{
			width: 80%;
		}
	}
	.figuras .figuras-card .container-inputs input{
		width: 6rem;
	}
	.figuras .figuras-card .container-inputs .input-one{
		width: 6rem;
	}
	.figuras .figuras-card img {
		width: 18rem;
	}
}